html, body
{
   height: 100%;
}
div#space
{
   width: 1px;
   height: 50%;
   margin-bottom: -267px;
   float:left
}
div#container
{
   width: 303px;
   height: 535px;
   margin: 0 auto;
   position: relative;
   clear: left;
}
body
{
   background-color: #FFFFFF;
   color: #000000;
   font-family: Arial;
   font-size: 8px;
   line-height: 1.1875;
   margin: 0;
   padding: 0;
}
#Image1
{
   border: 0px #000000 solid;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
}
#Shape8
{
   border-width: 0;
}
#Shape5
{
   border-width: 0;
}
#Image3
{
   border: 0px #000000 solid;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
}
#Shape7
{
   border-width: 0;
}
#wb_Text1 
{
   background-color: transparent;
   border: 0px #000000 solid;
   padding: 0;
   margin: 0;
   text-align: left;
}
#wb_Text1 div
{
   text-align: left;
}
#Image2
{
   border: 0px #000000 solid;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
}
#Shape6
{
   border-width: 0;
}
#Shape9
{
   border-width: 0;
}
#Image4
{
   border: 0px #000000 solid;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
}
#wb_Text2 
{
   background-color: transparent;
   border: 0px #000000 solid;
   padding: 0;
   margin: 0;
   text-align: left;
}
#wb_Text2 div
{
   text-align: left;
}
#Shape10
{
   border-width: 0;
}
#Shape13
{
   border-width: 0;
}
#Image6
{
   border: 0px #000000 solid;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
}
#wb_Text3 
{
   background-color: transparent;
   border: 0px #000000 solid;
   padding: 0;
   margin: 0;
   text-align: left;
}
#wb_Text3 div
{
   text-align: left;
}
#Shape11
{
   border-width: 0;
}
#Shape12
{
   border-width: 0;
}
#wb_Text5 
{
   background-color: transparent;
   border: 0px #000000 solid;
   padding: 0;
   margin: 0;
   text-align: left;
}
#wb_Text5 div
{
   text-align: left;
}
#wb_Text6 
{
   background-color: transparent;
   border: 0px #000000 solid;
   padding: 0;
   margin: 0;
   text-align: left;
}
#wb_Text6 div
{
   text-align: left;
}
#wb_Text4 
{
   background-color: transparent;
   border: 0px #000000 solid;
   padding: 0;
   margin: 0;
   text-align: left;
}
#wb_Text4 div
{
   text-align: left;
}
#Shape17
{
   border-width: 0;
}
#Image5
{
   border: 0px #000000 solid;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
}
#Shape18
{
   border-width: 0;
}
#Image8
{
   border: 0px #000000 solid;
   -webkit-animation: transform-rotate 9999ms linear 0ms 1000 reverse;
   -moz-animation: transform-rotate 9999ms linear 0ms 1000 reverse;
   -ms-animation: transform-rotate 9999ms linear 0ms 1000 reverse;
   animation: transform-rotate 9999ms linear 0ms 1000 reverse;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
}
#Image7
{
   border: 0px #000000 solid;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
}
#Shape1
{
   border-width: 0;
}
#Shape1
{
   width: 22px;
   height: 22px;
}
#wb_Text1
{
   position: absolute;
   left: 29px;
   top: 307px;
   width: 151px;
   height: 18px;
   z-index: 6;
   text-align: left;
}
#wb_Shape5
{
   position: absolute;
   left: 11px;
   top: 109px;
   width: 276px;
   height: 366px;
   z-index: 2;
}
#wb_Text2
{
   position: absolute;
   left: 46px;
   top: 348px;
   width: 213px;
   height: 16px;
   z-index: 11;
   text-align: left;
}
#wb_Shape6
{
   position: absolute;
   left: 20px;
   top: 340px;
   width: 263px;
   height: 33px;
   z-index: 8;
}
#wb_Text3
{
   position: absolute;
   left: 45px;
   top: 381px;
   width: 230px;
   height: 15px;
   z-index: 15;
   text-align: left;
}
#wb_Shape10
{
   position: absolute;
   left: 197px;
   top: 347px;
   width: 11px;
   height: 17px;
   z-index: 12;
}
#wb_Shape7
{
   position: absolute;
   left: 20px;
   top: 238px;
   width: 263px;
   height: 94px;
   z-index: 4;
}
#wb_Image1
{
   position: absolute;
   left: 0px;
   top: 0px;
   width: 300px;
   height: 533px;
   z-index: 0;
}
#wb_Text4
{
   position: absolute;
   left: 31px;
   top: 277px;
   width: 177px;
   height: 21px;
   z-index: 20;
   text-align: left;
}
#wb_Shape11
{
   position: absolute;
   left: 15px;
   top: 274px;
   width: 66px;
   height: 31px;
   z-index: 16;
}
#wb_Image2
{
   position: absolute;
   left: 180px;
   top: 208px;
   width: 103px;
   height: 26px;
   z-index: 7;
}
#wb_Shape8
{
   position: absolute;
   left: 7px;
   top: 109px;
   width: 276px;
   height: 366px;
   z-index: 1;
}
#wb_Text5
{
   position: absolute;
   left: 46px;
   top: 400px;
   width: 230px;
   height: 15px;
   z-index: 18;
   text-align: left;
}
#wb_Shape12
{
   position: absolute;
   left: 12px;
   top: 238px;
   width: 10px;
   height: 102px;
   z-index: 17;
}
#Shape10
{
   width: 11px;
   height: 17px;
}
#wb_Shape9
{
   position: absolute;
   left: 20px;
   top: 372px;
   width: 263px;
   height: 52px;
   z-index: 9;
}
#wb_Image3
{
   position: absolute;
   left: 20px;
   top: 112px;
   width: 160px;
   height: 126px;
   z-index: 3;
}
#Shape5
{
   width: 276px;
   height: 366px;
}
#wb_Text6
{
   position: absolute;
   left: 21px;
   top: 434px;
   width: 239px;
   height: 32px;
   z-index: 19;
   text-align: left;
}
#Shape11
{
   width: 66px;
   height: 31px;
}
#wb_Shape13
{
   position: absolute;
   left: 55px;
   top: 245px;
   width: 191px;
   height: 34px;
   z-index: 13;
}
#wb_Image4
{
   position: absolute;
   left: 27px;
   top: 348px;
   width: 11px;
   height: 14px;
   z-index: 10;
}
#Shape6
{
   width: 263px;
   height: 33px;
}
#wb_Image5
{
   position: absolute;
   left: 28px;
   top: 248px;
   width: 12px;
   height: 20px;
   z-index: 22;
}
#Shape12
{
   width: 10px;
   height: 102px;
}
#Shape7
{
   width: 263px;
   height: 94px;
}
#wb_Image6
{
   position: absolute;
   left: 26px;
   top: 383px;
   width: 14px;
   height: 14px;
   z-index: 14;
}
#Shape13
{
   width: 191px;
   height: 34px;
}
#Shape8
{
   width: 276px;
   height: 366px;
}
#wb_Image7
{
   position: absolute;
   left: 46px;
   top: 246px;
   width: 69px;
   height: 26px;
   z-index: 25;
}
#Shape9
{
   width: 263px;
   height: 52px;
}
#wb_Image8
{
   position: absolute;
   left: 69px;
   top: 52px;
   width: 21px;
   height: 21px;
   z-index: 24;
}
#wb_Shape17
{
   position: absolute;
   left: 9px;
   top: 8px;
   width: 26px;
   height: 26px;
   filter: alpha(opacity=50);
   -moz-opacity: 0.50;
   opacity: 0.50;
   z-index: 21;
}
#wb_Shape18
{
   position: absolute;
   left: 16px;
   top: 15px;
   width: 12px;
   height: 12px;
   z-index: 23;
}
#Shape17
{
   width: 26px;
   height: 26px;
}
#Shape18
{
   width: 12px;
   height: 12px;
}
#wb_Shape1
{
   position: absolute;
   left: 68px;
   top: 51px;
   width: 22px;
   height: 22px;
   z-index: 26;
}
#countdown
{
   color: #FFFFFF;
   font-size: 16px;
   font-family: Lucida Sans Unicode;
   font-weight: normal;
   font-style: normal;
   text-align: left;
   text-decoration: none;
}
#wb_JavaScript2
{
   position: absolute;
   left: 157px;
   top: 306px;
   width: 126px;
   height: 25px;
   z-index: 5;
}
@media only screen and (max-width: 300px) and (orientation: portrait)
{
div#container
{
   width: 300px;
   height: 514px;
}
#wb_Image1
{
   left: 0px;
   top: 0px;
   width: 300px;
   height: 533px;
   visibility: visible;
   display: inline;
}
#wb_Shape8
{
   left: 7px;
   top: 109px;
   visibility: visible;
   display: inline;
}
#wb_Shape5
{
   left: 11px;
   top: 109px;
   visibility: visible;
   display: inline;
}
#wb_Image3
{
   left: 20px;
   top: 112px;
   width: 160px;
   height: 126px;
   visibility: visible;
   display: inline;
}
#wb_Shape7
{
   left: 20px;
   top: 238px;
   visibility: visible;
   display: inline;
}
#wb_JavaScript2
{
   left: 157px;
   top: 306px;
   width: 126px;
   height: 25px;
   visibility: visible;
   display: inline;
}
#wb_Text1
{
   left: 29px;
   top: 307px;
   width: 151px;
   height: 18px;
   visibility: visible;
   display: inline;
}
#wb_Image2
{
   left: 180px;
   top: 208px;
   width: 103px;
   height: 26px;
   visibility: visible;
   display: inline;
}
#wb_Shape6
{
   left: 20px;
   top: 340px;
   visibility: visible;
   display: inline;
}
#wb_Shape9
{
   left: 20px;
   top: 372px;
   visibility: visible;
   display: inline;
}
#wb_Image4
{
   left: 27px;
   top: 348px;
   width: 11px;
   height: 14px;
   visibility: visible;
   display: inline;
}
#wb_Text2
{
   left: 46px;
   top: 348px;
   width: 213px;
   height: 16px;
   visibility: visible;
   display: inline;
}
#wb_Shape10
{
   left: 197px;
   top: 347px;
   visibility: visible;
   display: inline;
}
#wb_Shape13
{
   left: 55px;
   top: 245px;
   visibility: visible;
   display: inline;
}
#wb_Image6
{
   left: 26px;
   top: 383px;
   width: 14px;
   height: 14px;
   visibility: visible;
   display: inline;
}
#wb_Text3
{
   left: 45px;
   top: 381px;
   width: 230px;
   height: 15px;
   visibility: visible;
   display: inline;
}
#wb_Shape11
{
   left: 15px;
   top: 274px;
   visibility: visible;
   display: inline;
}
#wb_Shape12
{
   left: 12px;
   top: 238px;
   visibility: visible;
   display: inline;
}
#wb_Text5
{
   left: 46px;
   top: 400px;
   width: 230px;
   height: 15px;
   visibility: visible;
   display: inline;
}
#wb_Text6
{
   left: 21px;
   top: 434px;
   width: 239px;
   height: 32px;
   visibility: visible;
   display: inline;
}
#wb_Text4
{
   left: 31px;
   top: 277px;
   width: 177px;
   height: 21px;
   visibility: visible;
   display: inline;
}
#wb_Shape17
{
   left: 9px;
   top: 8px;
   visibility: visible;
   display: inline;
}
#wb_Image5
{
   left: 28px;
   top: 248px;
   width: 12px;
   height: 20px;
   visibility: visible;
   display: inline;
}
#wb_Shape18
{
   left: 16px;
   top: 15px;
   visibility: visible;
   display: inline;
}
#wb_Image8
{
   left: 69px;
   top: 52px;
   width: 21px;
   height: 21px;
   visibility: visible;
   display: inline;
}
#wb_Image7
{
   left: 46px;
   top: 246px;
   width: 69px;
   height: 26px;
   visibility: visible;
   display: inline;
}
#wb_Shape1
{
   left: 68px;
   top: 51px;
   visibility: visible;
   display: inline;
}
}
